<app-header
	title="Place order"
	[displayItemsInBasketIndicator]="false">

</app-header>

<ion-content>
	<ng-container *ngIf="weirdObject">
		<div *ngFor="let companyName of weirdObject.companyNames">
			<ion-virtual-scroll [items]="weirdObject.items[weirdObject.companyNames.indexOf(c => c.)]" approxItemHeight="320px">
				<ion-item-sliding *virtualItem="let item; let itemBounds = bounds">
					<app-add-remove-item [item]="item"></app-add-remove-item>
					<ion-item>
						<ion-thumbnail slot="start">
							<ion-img [src]="'assets/shapes.svg'"
							         [alt]="item.name"></ion-img>
						</ion-thumbnail>
						<ion-label>
							<h3>{{ item.name }}</h3>
							<p>{{ item.description }}</p>
							<p>{{ item.price | currency: 'GBP':'symbol':'1.2'}}</p>
						</ion-label>
					</ion-item>
				</ion-item-sliding>
			</ion-virtual-scroll>
		</div>

	</ng-container>
</ion-content>
