<mat-sidenav-container class="h-100">
  <mat-sidenav
    [(opened)]="sideNavOpen"
    mode="over">
    <mat-action-list class="my-3">
      <button [routerLink]="'/'" mat-list-item>
        <mat-icon class="mr-1">home</mat-icon>
        Dashboard
      </button>
      <button [routerLink]="'/order'" mat-list-item>
        <mat-icon class="mr-1">shopping_cart</mat-icon>
        Orders
      </button>
      <button [routerLink]="'/company'" mat-list-item>
        <mat-icon class="mr-1">store</mat-icon>
        Companies
      </button>
      <button [routerLink]="'/products'" mat-list-item>
        <mat-icon class="mr-1">list</mat-icon>
        Products
      </button>
      <button [routerLink]="'/user'" mat-list-item>
        <mat-icon class="mr-1">person</mat-icon>
        Users
      </button>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--Main Page toolbar-->
    <app-toolbar [(sideNavOpen)]="sideNavOpen" [title]="title"></app-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
