<mat-sidenav-container>
  <mat-sidenav
    [(opened)]="sideNavOpen"
    mode="over">
    <div class="container m-3">
      <button [routerLink]="'/order'" class="w-100" mat-button>
        <mat-icon>shopping_cart</mat-icon>
        Orders
      </button>
      <button [routerLink]="'/company'" class="w-100" mat-button>
        <mat-icon>store</mat-icon>
        Companies
      </button>
      <button [routerLink]="'/products'" class="w-100" mat-button>
        <mat-icon>list</mat-icon>
        Products
      </button>
      <button [routerLink]="'user'" class="w-100" mat-button>
        <mat-icon>person</mat-icon>
        Users
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content >
    <!--Main Page toolbar-->
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button (click)="sideNavOpen = !sideNavOpen" mat-button>
          <mat-icon>menu</mat-icon>
        </button>
        <span id="title">{{title}}</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="container my-4">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
