<h2 mat-dialog-title>Edit user</h2>
<mat-dialog-content>
  <form
    class="max-height"
    [formGroup]="userForm"
  >
    <div fxLayout="row">
      <mat-form-field
        fxFlexFill
        appearance="fill"
      >
        <mat-label>Email</mat-label>
        <input
          id="formEmailInput"
          autocomplete="email"
          matInput
          placeholder="email@example.com"
          formControlName="email"
        />
        <mat-error *ngIf="emailHasError" id="emailError">{{emailErrorMessage}}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field
        fxFlexFill
        class="max-width"
        appearance="fill"
      >
        <mat-label>Role</mat-label>
        <mat-select formControlName="role" id="role">
          <mat-option *ngFor="let role of roles" [value]="role">
            {{role.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="roleHasError" id="roleError">
          {{roleErrorMessage}}
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field
        fxFlexFill
        class="max-width"
        appearance="fill"
      >
        <mat-label>Company</mat-label>
        <input
          id="formCompany"
          matInput
          formControlName="company"
          type="text"
        />
        <mat-error *ngIf="companyHasError" id="companyError">
          {{companyErrorMessage}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>
  <mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="center">
      <button (click)="onSubmit()" [disabled]="!isFormValid()" class="w20" color="primary" id="editUserButton"
              mat-raised-button>
        Edit user
      </button>
      <button class="w20" color="primary" mat-dialog-close mat-raised-button>
        Cancel
      </button>
    </div>
  </mat-dialog-actions>
</mat-dialog-content>
