<div id="create" *ngIf="displayCreate()">
  <div class="container"
       fxLayout="row"
       fxLayout.xs="row"
       fxLayoutAlign="stretch"
       fxLayoutGap="0"
       fxLayoutGap.xs="0">
    <div id="createRecord">
      <h2>
        Create Record
      </h2>
    </div>

  </div>

  <form [formGroup]="dialogForm">

    <div class="container"
           fxLayout="row"
           fxLayout.xs="row"
           fxLayoutAlign="stretch"
           fxLayoutGap="2%"
           fxLayoutGap.xs="2%">

      <div id="name" fxFlex="22%">
        <mat-form-field>
          <mat-label>
            Name
          </mat-label>
          <input matInput placeholder="E.g. Bang Pharmaceuticals" type="text" formControlName="dialogName">
        </mat-form-field>
      </div>


      <div id="category" fxFlex="22%">
        <mat-form-field>
          <mat-label>
            Category
          </mat-label>
          <input matInput placeholder=" E.g. Business, Individual..." type="text" formControlName="dialogCategory">
        </mat-form-field>
      </div>


      <div id="telephone" fxFlex="22%">
        <mat-form-field>
          <mat-label>
            Telephone
          </mat-label>
          <input matInput placeholder="E.g. 07942946132, +44683..." type="text" formControlName="dialogTelephone">
        </mat-form-field>
      </div>

      <div id="email" fxFlex="22%">
        <mat-form-field>
          <mat-label>
            Email Address
          </mat-label>
          <input matInput placeholder="E.g. example@address.com" type="text" formControlName="dialogEmail">
        </mat-form-field>
      </div>

    </div>

    <div class="container"
         fxLayout="row"
         fxLayout.xs="row"
         fxLayoutAlign="stretch"
         fxLayoutGap="2%"
         fxLayoutGap.xs="2%">

      <div id="website" fxFlex="22%">
        <mat-form-field>
          <mat-label>
            Website
          </mat-label>
          <input matInput placeholder="E.g. www.bangpharmaceuticals.com" type="text" formControlName="dialogWebsite">
        </mat-form-field>
      </div>

      <div id="contact" fxFlex="22%">
        <mat-form-field>
          <mat-label>
            Contact Full Name
          </mat-label>
          <input matInput placeholder="E.g. Andrew Richardson" type="text" formControlName="dialogContact">
        </mat-form-field>
      </div>


      <div id="address" fxFlex="22%">
        <mat-form-field>
          <mat-label>
            Address Line
          </mat-label>
          <input matInput placeholder="E.g. 14 St. Thomas Street" type="text" formControlName="dialogAddress">
        </mat-form-field>
      </div>

      <div id="townOrCity" fxFlex="22%">
        <mat-form-field>
          <mat-label>
            Town/City
          </mat-label>
          <input matInput placeholder="E.g. London" type="text" formControlName="dialogTownOrCity">
        </mat-form-field>
      </div>

    </div>

    <div class="container"
         fxLayout="row"
         fxLayout.xs="row"
         fxLayoutAlign="stretch"
         fxLayoutGap="2%"
         fxLayoutGap.xs="2%">

      <div id="county" fxFlex="22%">
        <mat-form-field>
          <mat-label>
            County
          </mat-label>
          <input matInput placeholder="E.g. Greater London" type="text" formControlName="dialogCounty">
        </mat-form-field>
      </div>

      <div id="country" fxFlex="22%">
        <mat-form-field>
          <mat-label>
            Country
          </mat-label>
          <input matInput placeholder="E.g. England" type="text" formControlName="dialogCountry">
        </mat-form-field>
      </div>

      <div id="postcode" fxFlex="22%">
        <mat-form-field>
          <mat-label>
            Postcode
          </mat-label>
          <input matInput placeholder="E.g. NW2 5TG" type="text" formControlName="dialogPostcode">
        </mat-form-field>
      </div>

    </div>

    <div class="container"
         fxLayout="column"
         fxLayout.xs="column"
         fxLayoutAlign="stretch"
         fxLayoutGap="1%"
         fxLayoutGap.xs="1%">

      <div id="closeButton">
        <button (click)="close()" type="button" class="close" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
      </div>

      <div id="submitButton">
        <md-button (click)="submit()" type="submit" class="md-raised md-primary">SUBMIT</md-button>
      </div>

    </div>
  </form>
</div>

<div id="load" *ngIf="displayLoad()">
  <h2>Customers loaded!</h2>
</div>

<div id="update" *ngIf="displayUpdate()">
    <form [formGroup]="dialogForm">

      <div class="container"
           fxLayout="row"
           fxLayout.xs="row"
           fxLayoutAlign="stretch"
           fxLayoutGap="2%"
           fxLayoutGap.xs="2%">

        <div id="updateRecord">
          <h2>
            Update Record
          </h2>
        </div>
      </div>

      <div class="container"
           fxLayout="row"
           fxLayout.xs="row"
           fxLayoutAlign="stretch"
           fxLayoutGap="2%"
           fxLayoutGap.xs="2%">

        <div id="companyNameOrID">
          <mat-form-field>
            <mat-label>
              Company Name/ID
            </mat-label>
            <input matInput placeholder="E.g. Lee's Plumbing" type="text" formControlName="dialogName">
          </mat-form-field>
        </div>

        <div id="fieldUpdate">
          <mat-form-field>
            <mat-label>
              Field to Update
            </mat-label>
            <input matInput placeholder="E.g. Address" type="text" formControlName="dialogCategory">
          </mat-form-field>
        </div>

        <div id="fieldNewEntry">
          <mat-form-field>
            <mat-label>
              New Entry
            </mat-label>
            <input matInput placeholder="E.g. 23 West Street" type="text" formControlName="dialogTelephone">
          </mat-form-field>
        </div>

      </div>

      <div class="container"
           fxLayout="column"
           fxLayout.xs="column"
           fxLayoutAlign="stretch"
           fxLayoutGap="1%"
           fxLayoutGap.xs="1%">

        <div id="closeButtonUpt">
          <button (click)="close()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">X</span>
          </button>
        </div>

        <div id="submitButtonUpt">
          <md-button (click)="submit()" type="submit" class="md-raised md-primary">SUBMIT</md-button>
        </div>

      </div>
    </form>
</div>

<div id="delete" *ngIf="displayDelete()">
  <form [formGroup]="dialogForm">
    <div class="container"
         fxLayout="row"
         fxLayout.xs="row"
         fxLayoutAlign="stretch"
         fxLayoutGap="0"
         fxLayoutGap.xs="0">

      <div id="deleteRecord">
        <h2>
          Delete Record
        </h2>
      </div>

    </div>

    <div class="container"
         fxLayout="row"
         fxLayout.xs="row"
         fxLayoutAlign="stretch"
         fxLayoutGap="0"
         fxLayoutGap.xs="0">

        <div id="companyNameOrIDDlt">
          <mat-form-field>
            <mat-label>
              Company Name/ID
            </mat-label>
            <input matInput placeholder="E.g. Lee's Plumbing" type="text" formControlName="dialogName">
          </mat-form-field>
        </div>

    </div>

    <div class="container"
         fxLayout="column"
         fxLayout.xs="column"
         fxLayoutAlign="stretch"
         fxLayoutGap="1%"
         fxLayoutGap.xs="1%">

      <div id="closeButtonDlt">
        <button (click)="close()" type="button" class="close" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
      </div>

      <div id="submitButtonDlt">
        <md-button (click)="submit()" type="submit" class="md-raised md-primary">SUBMIT</md-button>
      </div>

    </div>

  </form>
</div>

