button {
  background-color: #4caf50; /* Green */
  border: #1e2023;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 10px;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
}

md-button {
  background-color: #4caf50; /* Green */
  border: #1e2023;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 16px;
  left: 150px;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
}

#headerText {
  font-size: 18px;
  font-weight: bold;
}
