<div class="container" fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="none"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div id="create" fxFlex fxFlexOffset="50px" *ngIf="displayCreate()">
    <form [formGroup]="dialogForm">
      <br>
      <h2>Create Record</h2>
      <br>
      <label>
        Name:
        <br>
        <input type="text" formControlName="dialogControl1">
      </label>
      <br>
      <label>
        Category:
        <br>
        <input type="text" formControlName="dialogControl2">
      </label>
      <br>
      <label>
        Telephone:
        <br>
        <input type="text" formControlName="dialogControl3">
      </label>
      <br>
      <label>
        Email:
        <br>
        <input type="text" formControlName="dialogControl4">
      </label>
      <br>
      <label>
        Website:
        <br>
        <input type="text" formControlName="dialogControl5">
      </label>
      <br>
      <label>
        Contact:
        <br>
        <input type="text" formControlName="dialogControl6">
      </label>
      <br>
      <label>
        Address:
        <br>
        <input type="text" formControlName="dialogControl7">
      </label>
      <br>
      <label>
        Town/City:
        <br>
        <input type="text" formControlName="dialogControl8">
      </label>
      <br>
      <label>
        County:
        <br>
        <input type="text" formControlName="dialogControl9">
      </label>
      <br>
      <label>
        Country:
        <br>
        <input type="text" formControlName="dialogControl10">
      </label>
      <br>
      <label>
        Postcode:
        <br>
        <input type="text" formControlName="dialogControl11">
      </label>

      <button (click)="close()" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">X</span>
      </button>
      <br><br>

      <md-button (click)="submit()" type="submit" class="md-raised md-primary">SUBMIT</md-button>
    </form>
  </div>

</div>

<div id="load" fxFlex="15%" *ngIf="displayLoad()">
  <br>
  <h2>Customers loaded!</h2>
  <br>
</div>

<div id="update" *ngIf="displayUpdate()">
  <form [formGroup]="dialogForm">
    <br>
    <h2>Update Record</h2>
    <br>
    <label>
      Company Name/ID: (For an ID, please add a '*' character after the numerical ID input like so 'ID*')
      <br>
      <input type="text" formControlName="dialogControl1">
    </label>
    <label>
      Field to Update:
      <br>
      <input type="text" formControlName="dialogControl2">
    </label>
    <label>
      New Entry:
      <br>
      <input type="text" formControlName="dialogControl3">
    </label>

    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">X</span>
    </button>
    <br><br>

    <md-button (click)="submit()" type="submit" class="md-raised md-primary">SUBMIT</md-button>
  </form>
</div>

<h2 id="delete" *ngIf="displayDelete()">
  <form [formGroup]="dialogForm">
    <br>
    <h2>Delete Record</h2>
    <br>
    <label>
      Company Name/ID: (For an ID, please add a '*' character after the numerical ID input like so 'ID*')
      <br>
      <input type="text" formControlName="dialogControl1">
    </label>

    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">X</span>
    </button>
    <br><br>

    <md-button (click)="submit()" type="submit" class="md-raised md-primary">SUBMIT</md-button>
  </form>
</div>

