button {
  background-color: #4CAF50; /* Green */
  border: #1e2023;
  border-radius: 10px;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

md-button {
  left: 150px;
  background-color: #4CAF50; /* Green */
  border: #1e2023;
  border-radius: 10px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
