<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Home
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row id="mainContent" *ngIf="companies; else loading">
			<ion-col size="6" *ngFor="let company of companies">
				<ion-card>
					<img [src]="company.imageUrl" alt=""/>
					<ion-card-header>
						<ion-card-subtitle></ion-card-subtitle>
						<ion-card-title>{{company.name}}</ion-card-title>
					</ion-card-header>
					<ion-card-content>
						<p>{{company.description}}</p>
					</ion-card-content>
					<hr>
					<ion-item (click)="loadCompaniesItems(company.name)">
						<ion-icon name="wifi" slot="start"></ion-icon>
						<ion-label>Click me!</ion-label>
					</ion-item>
				</ion-card>
			</ion-col>
		</ion-row>
		<ng-template #loading>
			<app-list-loader [noOfItems]="4"></app-list-loader>
		</ng-template>
	</ion-grid>


</ion-content>
