<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Home
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col size="6" *ngFor="let company of dummyCompanies | async">
              <ion-card>
                <img [src]="company.imageUrl" alt=""/>
                <ion-card-header>
                  <ion-card-subtitle></ion-card-subtitle>
                  <ion-card-title>{{company.name}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p>{{company.description}}</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
