<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center stretch"
     fxLayoutGap="10%"
     fxLayoutGap.xs="5%">

  <div id="table">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Telephone</th>
        <th>Email</th>
        <th>Website</th>
        <th>Contact</th>
        <th>Address</th>
        <th>Town/City</th>
        <th>County</th>
        <th>Country</th>
        <th>Postcode</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.id }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.category }}</td>
        <td>{{ customer.telephone }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.website }}</td>
        <td>{{ customer.contact }}</td>
        <td>{{ customer.address }}</td>
        <td>{{ customer.townOrCity }}</td>
        <td>{{ customer.county }}</td>
        <td>{{ customer.country }}</td>
        <td>{{ customer.postcode }}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="container"
     fxLayout
     fxLayout.xs="row"
     fxLayoutAlign="center center"
     fxLayoutGap="3%"
     fxLayoutGap.xs="0">

    <div id="buttonLoad">
      <md-button (click)="openLoadRecordDialog()" class="md-raised md-primary">LOAD RECORDS</md-button>
    </div>
    <div id="buttonCreate">
      <md-button (click)="openCreateRecordDialog()" class="md-raised md-primary">CREATE RECORD</md-button>
    </div>
    <div id="buttonUpdate">
      <md-button (click)="openUpdateRecordDialog()" class="md-raised md-primary">UPDATE RECORD</md-button>
    </div>
    <div id="buttonDelete">
    <md-button (click)="openDeleteRecordDialog()" class="md-raised md-primary">DELETE RECORD</md-button>
    </div>

</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="start center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div id="dialogs" fxFill fxFlexOffset="2%" fxFlexOffset.xs="2%">
    <app-dialog-body [data]="data"></app-dialog-body>
  </div>
</div>




