<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			{{ currentCompany }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="items; else loading">
    <ion-virtual-scroll [items]="items" approxItemHeight="320px">
      <ion-card *virtualItem="let item; let itemBounds = bounds;">
        <div>
          <ion-img [src]="'assets/icon/favicon'" [height]="64" [alt]="item.name"></ion-img>
        </div>
        <ion-card-header>
          <ion-card-title>{{ item.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{ item.description }}</ion-card-content>
      </ion-card>
    </ion-virtual-scroll>

  </div>
	<ng-template #loading>
		<ion-list >
			<ion-item *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
				<ion-card style="width: 100%">
					<ion-card-header>
					</ion-card-header>
					<ion-card-content><ion-spinner name="dots"></ion-spinner></ion-card-content>
				</ion-card>
			</ion-item>
		</ion-list>

	</ng-template>
</ion-content>
