@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
//@import '../RepClient/src/theme/util';

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  margin: 30px;
}

.version-info {
  float: right;
  font-size: 8pt;
  margin: 8px;
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
  background: #000;
  opacity: 0.75 !important;
}
