/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@for $i from 1 through 10 {

  .w#{$i} {
    width: $i * 10%;
  }

  .h#{$i} {
    height: $i * 10%;
  }

  .pt#{$i} {
    padding-top: $i * 1%;
  }

  .pb#{$i} {
    padding-bottom: $i * 1%;
  }

  .pr#{$i} {
    padding-right: $i * 1%;
  }

  .pl#{$i} {
    padding-left: $i * 1%;
  }
  // Margins
  .m#{$i} {
    margin: $i * 1%;
  }

  .mt#{$i} {
    margin-top: $i * 1%;
  }

  .mb#{$i} {
    margin-bottom: $i * 1%;
  }

  .mr#{$i} {
    margin-right: $i * 1%;
  }

  .ml#{$i} {
    margin-left: $i * 1%;
  }
}

$paddings: pt, pr, pl, pb;
$margins: mt, mr, ml, mb;

$sides: t, r, l, b; // top, right, left, bottom

@for $i from 1 through 10 {
  @each $padding in $paddings {
    .w#{$i}#{$padding}#{$i} {
      @extend .#{$padding}#{$i};
      @extend .w#{$i};
    }
    .h#{$i}#{$padding}#{$i} {
      @extend .#{$padding}#{$i};
      @extend .h#{$i};
    }
  }

  @each $margin in $margins {
    .w#{$i}#{$margin}#{$i} {
      @extend .#{$margin}#{$i};
      @extend .w#{$i};
    }
    .h#{$i}#{$margin}#{$i} {
      @extend .#{$margin}#{$i};
      @extend .h#{$i};
    }
  }
}

@for $i from 1 through 10 {
  // Combine the margins for two sides per class
  @each $side in $sides {
    @if $side != t {
      .mt#{$side}#{$i} {
        @if $side == r {
          margin-right: $i * 1%;

          @extend .mt#{$i};
        }

        @if $side == b {
          margin-bottom: $i * 1%;

          @extend .mt#{$i};
        }

        @if $side == l {
          margin-left: $i * 1%;

          @extend .mt#{$i};
        }
      }
    }

    @if $side != b {
      .mb#{$side}#{$i} {
        @if $side == r {
          margin-right: $i * 1%;

          @extend .mb#{$i};
        }

        @if $side == t {
          margin-top: $i * 1%;

          @extend .mb#{$i};
        }

        @if $side == l {
          margin-left: $i * 1%;

          @extend .mb#{$i};
        }
      }
    }

    @if $side != l {
      .ml#{$side}#{$i} {
        @if $side == r {
          margin-right: $i * 1%;

          @extend .ml#{$i};
        }

        @if $side == t {
          margin-top: $i * 1%;

          @extend .ml#{$i};
        }

        @if $side == b {
          margin-bottom: $i * 1%;

          @extend .ml#{$i};
        }
      }
    }

    @if $side != r {
      .mr#{$side}#{$i} {
        @if $side == l {
          margin-left: $i * 1%;

          @extend .mr#{$i};
        }

        @if $side == t {
          margin-top: $i * 1%;

          @extend .mr#{$i};
        }

        @if $side == b {
          margin-bottom: $i * 1%;

          @extend .mr#{$i};
        }
      }
    }
  }
}
